@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin border-style($border-width, $border-color) {
  border: ($border-width) solid ($border-color)
}

@mixin set-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin ellipsis-1 {
  white-space: nowrap;
  text-overflow:ellipsis; 
  overflow: hidden;
}

@mixin ellipsis-mul ($text-overflow) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $text-overflow;
  -webkit-box-orient: vertical;
}

@mixin box-shadow($x-va, $y-va, $z-va, $alpha) {
  box-shadow: $x-va $y-va $z-va rgba($black,$alpha);
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// breakpoint

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content
  }
}
@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content
  }
}
@mixin fullhd {
  @media screen and (min-width: $widescreen) {
    @content
  }
}

// control

$control-radius: 0px !default;

$control-border-width: 1px !default;

$control-padding-vertical: calc(0.375em - #{$control-border-width}) !default;
$control-padding-horizontal: calc(0.625em - #{$control-border-width}) !default;

%control {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: $control-border-width solid transparent;
  border-radius: $control-radius;
  box-shadow: none;
  display: inline-flex;
  font-size: $font-size-base;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: $control-padding-vertical;
  padding-left: $control-padding-horizontal;
  padding-right: $control-padding-horizontal;
  padding-top: $control-padding-vertical;
  position: relative;
  vertical-align: top;
  // States
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none;
  }
  &[disabled] {
    cursor: not-allowed;
  }
}

@mixin control{
  @extend %control;
}
